<div class="container-fluid">
    <h1 class="display-4 border-bottom text-dark mt-4 mb-4 pl-4"> Episodes </h1>
    <div class="row">
        <div class="col-xs-12 col-12">
            <accordion [isAnimated]="true">
                <ng-container *ngFor="let i of seasonsArray()">
                    <accordion-group heading="Season {{ i }}" (isOpenChange)="expandSeason($event, i)">
                        <div *ngIf="!loadedEpisodes[i]">
                            <div class="text-center">
                                <div *ngIf="!noEpisodes" class="spinner-border mt-5" style="width: 5rem; height: 5rem;" role="status">
                                  <span class="sr-only">Loading...</span>
                                </div>
                                <h1 *ngIf="noEpisodes" class="text-muted"> No results found. </h1>
                              </div>
                        </div>
                        <ng-container *ngIf="loadedEpisodes[i]">
                            <ul *ngFor="let episode of seasonEpisodes(i)">
                                <h2> Episode {{ episode.airedEpisodeNumber }} </h2>
                                <li class="media mb-2 ml-3">
                                    <img class="mr-3" src="{{ episode.getImageUrl() }}">
                                    <div class="media-body">
                                        <h3 class="ml-2"> {{episode.episodeName}} </h3>
                                        <p> 
                                            First aired: {{episode.firstAired}} 
                                        </p>
                                        <span tooltip="{{ episode.siteRating }}" placement="right">
                                            <rating [(ngModel)]="episode.siteRating" [max]="10" [readonly]="true"></rating>
                                        </span>
                                        <div>
                                            <button class="btn btn-sm btn-primary mt-3" (click)="showDetails(episode)"> More Details </button>
                                        </div>
                                    </div>
                                </li>
                                <hr/>
                            </ul>
                        </ng-container>
                    </accordion-group>
                </ng-container>
            </accordion>
        </div>
      </div>
</div>