.search-bar {
    top: 0;
    overflow: hidden;
    padding: 30px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: whitesmoke;
}



.search-details {
    margin: 20px;
}

.search-details:nth-child(2)
{
    margin-top: 120px;    
}