<div class="modal-header">
    <h3 class="ml-2"> {{episode.airedEpisodeNumber}}. {{episode.episodeName}}</h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <img class="mr-3" width="200" height="112.5" *ngIf="episode.getImageUrl().length" src="{{ episode.getImageUrl() }}">
    <div *ngIf="episode.directors.length != 0" class="mb-0">
        Director: {{ episode.directors }}
    </div>
    <p class="mt-3 ml-2">
        First aired: {{episode.overview}} 
    </p>
</div>