
<div class="container-fluid">
    <h1 class="pb-2 pl-5 mb-2 border-bottom">
        {{ series.seriesName }}
    </h1>
    <div class="media">
        <img class="align-self-center mr-3" width="170px" height="250px" *ngIf="series.getPosterUrl().length" src="{{ series.getPosterUrl() }}">
        <div class="media-body">
            <p class="text-muted">
                {{ genre }}
            </p>
            <p>
                Status: {{ series.status }}
            </p>
            <p>
                Airs: {{ series.airsDayOfWeek }} {{ series.airsTime }}
            </p>
            <div style="display: inline-block;" tooltip="{{ series.siteRating }}" placement="bottom">
                <span *ngFor="let i of [1,2,3,4,5]">
                    <span *ngIf="series.siteRating/2 > i || series.siteRating/2 == i" class="fa fa-star checked"></span>
                    <span *ngIf="series.siteRating/2 < i"class="fa fa-star"></span>
                </span>
            </div>
        </div>
    </div>
    <p class="mt-3 ml-2" style="width: 95vw">
        {{ series.overview }}
    </p>
</div>