@import "~bootstrap/dist/css/bootstrap.css";

body {
    background-color: #e0dedd;
}

.card {
    background-color: #f9f8f7;
    color: #252422;
    border-radius: 6px;
    box-shadow: 0 5px 5px rgb(204 197 185 / 50%);
}

