<div class="card bg-light mb-3" (click)="redirect()">
    <div class="card-body">
        <img class="card-img-top" *ngIf="series.getBannerUrl().length" src="{{ series.getBannerUrl() }}">
        <h2 class="card-title">
            {{ series.seriesName }}
        </h2>
        <p class="card-text"> 
            First aired: {{ series.firstAired }}
        </p>
        <p class="card-text">
            Network: {{series.network}}
        </p>
        <p class="card-text">
            {{series.overview}}
        </p>
    </div>
</div>