<form class="form-inline" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <div class="col-9">  
            <input type="text" 
                class="form-control" 
                placeholder="Search..." 
                formControlName="name"
                style="width: 100%;">
        </div>
        <button class="btn btn-primary" type="submit">Search</button>
</form>
